
  
  <body>
  
 

  <!-- Inicio Janela Padeiro-->
  
  <div id="bgPadeiro"></div>
      <div class="boxPadeiro">
        <a href="" id="close">X</a>
        <div class="container lista ">
          <h2 class="text-center mb-3 letraFluorescente">Buscar Material</h2>
          <form action="/consultar" method="POST" name="frm_consulta" class="ml-3">
              <div class="form-group">
                  <div class="row centro">
                      <input type="text" class="form-control col-md-5" name="consulta"
                      placeholder="Digite aqui a sua consulta" [(ngModel)]='materialName' (keyup)='findByMaterialName()'>
                      <button type="submit" class="btn btn-success ml-4">Consultar</button>
                  </div>
              </div>
          </form>
                <div class="scroll" align="center">
                    <table class="table letraFluorescente">
                        <thead class="bg-green ">
                            <tr>
                              <th><a>identificação</a></th>
                                <th><a >nome</a></th>
                                <th><a >Quantidade</a></th>
                                <th><a >usuario</a></th>
                              
                                
                            </tr>
                        </thead>
                        <tbody *ngFor="let material of listaMaterials">
                            
                                <tr>
                                    <td nowrap="true">
                                        <a >{{material.id}}</a>
                                    </td>
                                    <td nowrap="true">{{material.name}} </td>
                                    <td nowrap="true">{{material.quantity}} </td>
                                    <td nowrap="true">{{material.user}}</td>
                                    <td><button (click)=" idMaterial = material.id" 
                                      (click)="ver()"
                                       ><a href="#bgBaixaNoSistema">DarBaixa</a></button></td>
                                  
                                    <td>
                                      
                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
        
        
      </div>
  
    
    
  </div>	

   <!-- FIm Janela Padeiro-->


   <!-- INICIO Dar Baixa no sistema -->

   <div id="bgBaixaNoSistema"></div>
    <div class="boxBaixaNoSistema">
      <a href="" id="close">X</a>
        <div class="row d-flex align-items-lg-center ">
        
          <div class=" d-flex justify-content-center" id="img-bg"> </div>

            <div class="borda bg-white" id="border">  

              <div class="row d-flex justify-content-center">

                <div class="isso letraFluorescente" id="ft-color">
                  <h1 class="text-center mb-3" > DarBaixa</h1>
                  <label for="quantity">Quantidade:</label>
                    <input
                      [(ngModel)]="qtdGasta.quantity"
                      name="quantity"
                      type="number"
                      class="linha"
                      id="quantity"
                      placeholder="Digite a Quantidade do material para dar baixa"
                    />
              
                  <label for="user">Usuario</label>
                    <input
                    [(ngModel)]="qtdGasta.user"
                      name="user"
                      type="text"
                      class="linha"
                      id="user"
                      placeholder="Digite o usuario que está dando baixa no material"
                    />
              
                    <div class="row botaocadastrar">
                        <button type="button" class="btn btn-success tam"
                        (click)="putQtdGasta(idMaterial)"
                        (click)="ver()"
                        >
                        Dar baixa
                      </button> 
                  </div>
              </div>
                

              </div>
    
      </div>


   </div>


</div>	



   <!-- FIM Dar Baixa no Sistema -->


  <!-- Inicio Janela Estoquista-->

  <div id="bgEstoquista"></div>
          <div class="boxEstoquista">
            <a href="" id="close">X</a>
            <div class="row d-flex align-items-lg-center ">
            
              <div class=" d-flex justify-content-center" id="img-bg"></div>
              


              <div class="borda bg-white" id="border">

                  <div class="row d-flex justify-content-center">
                      <div class="isso" id="ft-color">
                          <div class="color">
                      <h1 class="text-center mb-3">Cadastrar Material</h1>
                          </div>
                          <label for="name">Nome:</label>
                          <input
                          [(ngModel)]="material.name"
                          name="name"
                          type="text"
                          class="linha"
                          id="name"
                          required=""
                          placeholder="Digite o nome do material"
                        />
          
                        <label for="quantity">Quantidade</label>
                        <input
                          [(ngModel)]="material.quantity"
                          name="quantity"
                          type="number"
                          class="linha"
                          id="quantity"
                          required=""
                          placeholder="Digite a Quantidade do material"
                        />
          
                        <label for="user">Usuario</label>
                        <input
                          [(ngModel)]="material.user"
                          name="user"
                          type="text"
                          class="linha"
                          id="user"
                          required=""
                          placeholder="Digite o usuario que está cadastrando o material"
                        />
                          <div class="row botaocadastrar">
                        <button
                        type="button" class="btn btn-success tam"
                        (click)="cadastrar()"
                        (click)="ver()"
                        
                      >
                        Cadastrar
                      </button>
                    </div>
                  </div>

              
              </div>

        
          </div>


        </div>
    
    
  </div>	

  <!-- Fim Janela Estoquista-->

  <!-- Inicio Janela Gerente-->

  <div id="bgGerente"></div>
      <div class="boxGerente">
        <a href="" id="close">X</a>
        <div class="container lista ">
          <h2 class="text-center mb-3 letraFluorescenteB ">Gasto por padeiro:</h2>
          <form action="/consultar" method="POST" name="frm_consulta" class="ml-3">
              <div class="form-group">
                  <div class="row centro bg-white consul">
                      <input type="text" class="form-control col-md-5" name="consulta"
                      placeholder="Digite aqui a sua consulta" [(ngModel)]='qtdGastaUser' (keyup)='findByMaterialUser()'>
                      <button type="submit" class="btn btn-success ml-4">Consultar</button>
                  </div>
              </div>
          </form>
                <div class="scroll" align="center">
                    <table class="table letraFluorescenteB">
                        <thead class="bg-white ">
                            <tr>
                              <th><a>identificação</a></th>
                                <th><a >nome</a></th>
                                <th><a >Quantidade</a></th>
                                <th><a >usuario</a></th>
                                <th><a >data</a><th></th>
                              
                                
                            </tr>
                        </thead>
                        <tbody *ngFor="let qtdGasta of listaQtdGasta">
                            
                                <tr class="bg-white">
                                    <td nowrap="true">
                                        <a >{{qtdGasta.id}}</a>
                                    </td>
                                    <td nowrap="true">{{qtdGasta.name}} </td>
                                    <td nowrap="true">{{qtdGasta.quantity}} </td>
                                    <td nowrap="true">{{qtdGasta.user}}</td>
                                    <td nowrap="true">{{qtdGasta.createdDate}}</td>
                                    
                                  
                                    <td>
                                      
                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
         
        
      </div>
  
    
    
  </div>	


  <!-- Fim Janela Gerente -->


  <section>
    <div class="row col-md-12">
        <h1 class="item-titulo" >Fabricação de bolo</h1>
    </div>

    <div class="row col-md-12">
      <div class="col-md-4 item"><button type="button" class="botao btn btn-outline-success"> <a href="#bgPadeiro">Padeiro</a></button></div>
      <div class="col-md-4 item" ><button type="button" class="botao btn btn-outline-secondary"><a href="#bgEstoquista">Estoquista</a></button></div>
      <div class="col-md-4 item"><button type="button" class=" botao btn btn-outline-danger"><a href="#bgGerente">Gerente</a></button></div>
    </div>
  </section>

 


              </body>

            
